@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply !bg-pri dark:!bg-pri !rounded-xl hover:opacity-80 hover:bg-pri hover:dark:bg-pri dark:!text-neutral-50;
}

.btn-secondary {
  @apply !bg-sec dark:!bg-sec-dark text-pri dark:!text-pri shadow-sm hover:bg-sec hover:dark:bg-sec-dark hover:opacity-85;
}

.streak-count {
  -webkit-text-stroke: 3px #daa305; /* Border width and color */
}
/* .streak-count {
  text-shadow: -2px -2px 0 #daa305, 2px -2px 0 #daa305, -2px 2px 0 #daa305,
    2px 2px 0 #daa305;
} */

/* Hide scrollbar for Chrome, Safari, and Opera */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Optional: Ensure content is still scrollable */
.hide-scrollbar {
  overflow: scroll; /* or auto if necessary */
}
